/* line 17, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/_variables.scss */
#all-artists {
  background: #3a2538;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3a2538), color-stop(100%, #0d0d0d));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #3a2538 0%, #0d0d0d 100%);
  /* W3C */
}

/* line 1, ../sass/_typography.scss */
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

/* line 6, ../sass/_typography.scss */
.callout {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

/* line 1, ../sass/_base.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 7, ../sass/_base.scss */
section[data-role="page"] {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
/* line 13, ../sass/_base.scss */
section[data-role="page"] .ui-title {
  margin: auto;
  padding: 0.6em;
  font-size: 12pt;
  color: white;
}

/* content area */
/* line 22, ../sass/_base.scss */
.ui-content {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 5pt;
}

/* line 29, ../sass/_base.scss */
#all-artists .ui-content {
  padding: 5pt 0 5pt 5pt;
}

/* line 33, ../sass/_base.scss */
.right {
  float: right;
  right: 0;
}

/* line 38, ../sass/_base.scss */
.ui-btn-text {
  font-size: 18px;
}

/* line 43, ../sass/_base.scss */
.ui-title,
section[data-role="page"] .ui-title {
  font-size: 18px;
}

/* line 1, ../sass/_header.scss */
nav[data-role="header"] {
  z-index: 2;
  height: 30pt;
  background: #0d0d0d;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 11, ../sass/_header.scss */
nav[data-role="header"] a {
  text-decoration: none;
  color: #ff360e;
}

/* line 1, ../sass/_sidebar.scss */
#entry-nav {
  background: #0d0d0d;
}
/* line 4, ../sass/_sidebar.scss */
#entry-nav a {
  color: white;
}
/* line 8, ../sass/_sidebar.scss */
#entry-nav h3 a {
  color: #ff360e;
  margin-top: -3px;
}
/* line 13, ../sass/_sidebar.scss */
#entry-nav h3 a:after {
  content: "";
  background: url('/images/icons/dir_arrow.svg?1381806192') no-repeat;
  width: 40px;
  height: 40px;
  background-size: 60%;
  display: block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  right: 10px;
  top: 5px;
}
/* line 28, ../sass/_sidebar.scss */
#entry-nav .ui-collapsible-collapsed h3 a:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: -10px;
}
/* line 35, ../sass/_sidebar.scss */
#entry-nav .ui-panel-inner {
  width: 100%;
  padding: 0;
}
/* line 40, ../sass/_sidebar.scss */
#entry-nav .ui-collapsible-content {
  padding: 0;
}

/* line 45, ../sass/_sidebar.scss */
.morebtn {
  background: url('/images/icons/menu.svg?1381806191');
  background-repeat: no-repeat;
  background-size: 80%;
  width: 50px;
  height: 50px;
  display: block;
}

/* line 54, ../sass/_sidebar.scss */
.ui-header .ui-btn-right {
  top: 5px;
}

/* line 58, ../sass/_sidebar.scss */
a {
  text-decoration: none;
}

/* line 63, ../sass/_sidebar.scss */
.active-entries,
.past-winners {
  width: 100%;
}
/* line 66, ../sass/_sidebar.scss */
.active-entries li,
.past-winners li {
  padding: 1em;
  margin-bottom: 2px;
}
/* line 71, ../sass/_sidebar.scss */
.active-entries li:nth-child(even),
.past-winners li:nth-child(even) {
  background: #72496c;
}
/* line 74, ../sass/_sidebar.scss */
.active-entries li:nth-child(odd),
.past-winners li:nth-child(odd) {
  background: #90708c;
}

/* line 5, ../sass/_allartists.scss */
.all-thumbs li {
  display: block;
  float: left;
  height: 67pt;
  margin: 5pt;
  position: relative;
  width: 67pt;
}

/* line 14, ../sass/_allartists.scss */
.artist-thumb {
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 20, ../sass/_allartists.scss */
.artist-name {
  background: rgba(255, 54, 14, 0.8);
  bottom: 0;
  text-align: center;
  left: 0;
  position: absolute;
  width: 90%;
  color: white;
  font-size: 7.5pt;
  padding: 0.5em 5%;
}

/* line 33, ../sass/_allartists.scss */
.childish_gambino {
  background-image: url('/images/thumbs/childish_gambino.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.chvrches {
  background-image: url('/images/thumbs/chvrches.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.daughter {
  background-image: url('/images/thumbs/daughter.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.foy_vance {
  background-image: url('/images/thumbs/foy_vance.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.jeremy_messersmith {
  background-image: url('/images/thumbs/jeremy_messersmith.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.justin_nozuka {
  background-image: url('/images/thumbs/justin_nozuka.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.tiny_green_cars {
  background-image: url('/images/thumbs/tiny_green_cars.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.mumford_and_sons {
  background-image: url('/images/thumbs/mumford_and_sons.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.phoenix {
  background-image: url('/images/thumbs/phoenix.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.robert_delong {
  background-image: url('/images/thumbs/robert_delong.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.two_door_cinema_club {
  background-image: url('/images/thumbs/two_door_cinema_club.jpg?1381805306');
}

/* line 33, ../sass/_allartists.scss */
.temper_trap {
  background-image: url('/images/thumbs/temper_trap.jpg?1381805306');
}

/* line 1, ../sass/_animations.scss */
.shaking {
  opacity: 0.9;
  -o-animation: Opacity 1.2s infinite;
  -moz-animation: Opacity 1.2s infinite;
  -webkit-animation: Opacity 1.2s infinite;
  animation: Opacity 1.2s infinite;
}

@-o-keyframes Opacity {
  /* line 16, ../sass/_animations.scss */
  0% {
    opacity: 0.8;
  }

  /* line 17, ../sass/_animations.scss */
  50% {
    opacity: 0.4;
  }

  /* line 18, ../sass/_animations.scss */
  100% {
    opacity: 0.8;
  }
}

@-moz-keyframes Opacity {
  /* line 16, ../sass/_animations.scss */
  0% {
    opacity: 0.8;
  }

  /* line 17, ../sass/_animations.scss */
  50% {
    opacity: 0.4;
  }

  /* line 18, ../sass/_animations.scss */
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes Opacity {
  /* line 16, ../sass/_animations.scss */
  0% {
    opacity: 0.8;
  }

  /* line 17, ../sass/_animations.scss */
  50% {
    opacity: 0.4;
  }

  /* line 18, ../sass/_animations.scss */
  100% {
    opacity: 0.8;
  }
}

@-keyframes Opacity {
  /* line 16, ../sass/_animations.scss */
  0% {
    opacity: 0.8;
  }

  /* line 17, ../sass/_animations.scss */
  50% {
    opacity: 0.4;
  }

  /* line 18, ../sass/_animations.scss */
  100% {
    opacity: 0.8;
  }
}

/* line 1, ../sass/_settings.scss */
#settings {
  background: #0d0d0d;
  color: white;
}

/* line 6, ../sass/_settings.scss */
.settingsbtn {
  background: url('/images/icons/settings.svg?1381809021');
  background-repeat: no-repeat;
  background-size: 60%;
  width: 45px;
  height: 45px;
  display: block;
}
/* line 13, ../sass/_settings.scss */
.settingsbtn.ui-btn-left {
  left: 8px;
  top: 8px;
}

/* line 19, ../sass/_settings.scss */
.fade-block {
  background: #0d0d0d;
  width: 90%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  margin-top: 1em;
}

/* line 28, ../sass/_settings.scss */
.ui-checkbox {
  display: inline;
}

/* line 32, ../sass/_settings.scss */
form.settings {
  margin: 30pt 0;
}

/* line 37, ../sass/_settings.scss */
.b {
  display: block;
}

/* line 41, ../sass/_settings.scss */
.toggle {
  position: absolute;
  right: 20%;
  width: 45px;
  height: 25px;
  border-radius: 100px;
  background-color: #ddd;
  margin: -20px -40px;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

/* line 53, ../sass/_settings.scss */
.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

/* line 65, ../sass/_settings.scss */
.check:checked ~ .track {
  box-shadow: inset 0 0 0 20px #60f0c0;
}

/* line 69, ../sass/_settings.scss */
.check:checked ~ .switch {
  right: 2px;
  left: 22px;
  transition: .4s ease;
  transition-property: left, right;
  transition-delay: .05s, 0s;
}

/* line 77, ../sass/_settings.scss */
.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .4s ease;
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 92, ../sass/_settings.scss */
.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .4s ease;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}

/* line 105, ../sass/_settings.scss */
.checkbox {
  width: 10pt;
  height: 10pt;
  border-radius: 50%;
  background: #ff360e;
  display: inline-block;
}

/* line 1, ../sass/_audioentry.scss */
.submit-vote {
  display: none;
}

/* line 5, ../sass/_audioentry.scss */
#single-artist {
  background: url('/images/backgrounds/audio_background.jpg?1381806256') 30%;
  background-size: 110%;
}

/* line 10, ../sass/_audioentry.scss */
.callout {
  font-size: 2em;
  text-align: center;
}

/* line 16, ../sass/_audioentry.scss */
.individual-entry {
  color: #f0f1bc;
  height: 300px;
}

/* line 22, ../sass/_audioentry.scss */
.ribbon-container {
  width: 100%;
  height: 80px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 31, ../sass/_audioentry.scss */
.droppable {
  position: absolute;
  width: 100px;
  height: 80px;
  display: block;
  bottom: 0;
}

/* line 39, ../sass/_audioentry.scss */
.ribbon {
  margin: 30px 20px;
  cursor: pointer;
  height: 40px;
  width: 30px;
  z-index: 5;
  display: inline-block;
  bottom: 0;
}
/* line 48, ../sass/_audioentry.scss */
.ribbon:hover {
  opacity: 0.8;
}

/* line 54, ../sass/_audioentry.scss */
.shadow {
  position: absolute;
  opacity: 0.2;
}
/* line 57, ../sass/_audioentry.scss */
.shadow:hover {
  opacity: 0.2;
}

/* line 62, ../sass/_audioentry.scss */
.first {
  margin-left: 20px;
  background: url('/images/icons/medal1.svg?1381861111') 50% no-repeat;
  background-size: 100%;
}
/* line 67, ../sass/_audioentry.scss */
.first.shadow {
  margin-left: 15px;
}

/* line 72, ../sass/_audioentry.scss */
.second {
  margin-left: 70px;
  background: url('/images/icons/medal2.svg?1381861111') 50% no-repeat;
  background-size: 100%;
}
/* line 76, ../sass/_audioentry.scss */
.second.shadow {
  margin-left: 65px;
}

/* line 81, ../sass/_audioentry.scss */
.third {
  margin-left: 120px;
  background: url('/images/icons/medal3.svg?1381861111') 50% no-repeat;
  background-size: 100%;
}

/* line 87, ../sass/_audioentry.scss */
.magnet-area {
  background: url('/images/icons/medalbg.svg?1381861273') 50% no-repeat;
  background-size: 88%;
  height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 60px;
}

/* line 98, ../sass/_audioentry.scss */
.choices {
  position: absolute;
}

/* line 102, ../sass/_audioentry.scss */
.pep {
  top: 0;
}
