/* line 17, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/_variables.scss */
#all-artists {
  background: #3a2538;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3a2538), color-stop(100%, #0d0d0d));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #3a2538 0%, #0d0d0d 100%);
  /* W3C */
}

/* line 1, ../sass/_typography.scss */
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

/* line 1, ../sass/_base.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 7, ../sass/_base.scss */
section[data-role="page"] {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background: green;
}
/* line 14, ../sass/_base.scss */
section[data-role="page"] .ui-title {
  margin: auto;
  padding: 0.6em;
  font-size: 12pt;
  color: white;
}

/* content area */
/* line 23, ../sass/_base.scss */
.ui-content {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 5pt;
}

/* line 30, ../sass/_base.scss */
#all-artists .ui-content {
  padding: 5pt 0 5pt 5pt;
}

/* line 34, ../sass/_base.scss */
.right {
  float: right;
  right: 0;
}

/* line 1, ../sass/_header.scss */
nav[data-role="header"] {
  z-index: 2;
  height: 30pt;
  background: #0d0d0d;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 11, ../sass/_header.scss */
nav[data-role="header"] a {
  text-decoration: none;
  color: #ff360e;
}

/* line 1, ../sass/_sidebar.scss */
#entry-nav {
  background: pink;
}

/* line 5, ../sass/_allartists.scss */
.all-thumbs li {
  background-color: yellowgreen;
  display: block;
  float: left;
  height: 65pt;
  margin: 5pt;
  position: relative;
  width: 65pt;
}

/* line 15, ../sass/_allartists.scss */
.artist-thumb {
  width: 100%;
  height: 100%;
}

/* line 20, ../sass/_allartists.scss */
.artist-name {
  background: rgba(255, 54, 14, 0.8);
  bottom: 0;
  text-align: center;
  left: 0;
  position: absolute;
  width: 90%;
  color: white;
  font-size: 7.5pt;
  padding: 0.5em 5%;
}

/* line 1, ../sass/_animations.scss */
.shaking {
  opacity: 0.9;
  -o-animation: shakeIt 0.2s infinite;
  -moz-animation: shakeIt 0.2s infinite;
  -webkit-animation: shakeIt 0.2s infinite;
  animation: shakeIt 0.2s infinite;
}

@-o-keyframes shakeIt {
  /* line 6, ../sass/_animations.scss */
  0% {
    -webkit-transform: translate(2px, 1px);
    -moz-transform: translate(2px, 1px);
    -ms-transform: translate(2px, 1px);
    -o-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  /* line 8, ../sass/_animations.scss */
  50% {
    -webkit-transform: translate(-1px, -2px);
    -moz-transform: translate(-1px, -2px);
    -ms-transform: translate(-1px, -2px);
    -o-transform: translate(-1px, -2px);
    transform: translate(-1px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  /* line 10, ../sass/_animations.scss */
  100% {
    -webkit-transform: translate(2px, 1px);
    -moz-transform: translate(2px, 1px);
    -ms-transform: translate(2px, 1px);
    -o-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}

@-moz-keyframes shakeIt {
  /* line 6, ../sass/_animations.scss */
  0% {
    -webkit-transform: translate(2px, 1px);
    -moz-transform: translate(2px, 1px);
    -ms-transform: translate(2px, 1px);
    -o-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  /* line 8, ../sass/_animations.scss */
  50% {
    -webkit-transform: translate(-1px, -2px);
    -moz-transform: translate(-1px, -2px);
    -ms-transform: translate(-1px, -2px);
    -o-transform: translate(-1px, -2px);
    transform: translate(-1px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  /* line 10, ../sass/_animations.scss */
  100% {
    -webkit-transform: translate(2px, 1px);
    -moz-transform: translate(2px, 1px);
    -ms-transform: translate(2px, 1px);
    -o-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}

@-webkit-keyframes shakeIt {
  /* line 6, ../sass/_animations.scss */
  0% {
    -webkit-transform: translate(2px, 1px);
    -moz-transform: translate(2px, 1px);
    -ms-transform: translate(2px, 1px);
    -o-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  /* line 8, ../sass/_animations.scss */
  50% {
    -webkit-transform: translate(-1px, -2px);
    -moz-transform: translate(-1px, -2px);
    -ms-transform: translate(-1px, -2px);
    -o-transform: translate(-1px, -2px);
    transform: translate(-1px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  /* line 10, ../sass/_animations.scss */
  100% {
    -webkit-transform: translate(2px, 1px);
    -moz-transform: translate(2px, 1px);
    -ms-transform: translate(2px, 1px);
    -o-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}

@-keyframes shakeIt {
  /* line 6, ../sass/_animations.scss */
  0% {
    -webkit-transform: translate(2px, 1px);
    -moz-transform: translate(2px, 1px);
    -ms-transform: translate(2px, 1px);
    -o-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  /* line 8, ../sass/_animations.scss */
  50% {
    -webkit-transform: translate(-1px, -2px);
    -moz-transform: translate(-1px, -2px);
    -ms-transform: translate(-1px, -2px);
    -o-transform: translate(-1px, -2px);
    transform: translate(-1px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  /* line 10, ../sass/_animations.scss */
  100% {
    -webkit-transform: translate(2px, 1px);
    -moz-transform: translate(2px, 1px);
    -ms-transform: translate(2px, 1px);
    -o-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}

/* line 1, ../sass/_settings.scss */
#settings {
  background: orange;
}

/* line 9, ../sass/_settings.scss */
.ui-checkbox {
  display: inline;
}
