/* line 17, ../sass/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../sass/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../sass/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../sass/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../sass/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../sass/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../sass/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../sass/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../sass/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/_variables.scss */
#all-artists {
  background: #3a2538;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3a2538), color-stop(100%, #0d0d0d));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #3a2538 0%, #0d0d0d 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #3a2538 0%, #0d0d0d 100%);
  /* W3C */
}

/* line 1, ../sass/_typography.scss */
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

/* line 6, ../sass/_typography.scss */
.callout {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

/* line 1, ../sass/_base.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 7, ../sass/_base.scss */
section[data-role="page"] {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background: green;
}
/* line 14, ../sass/_base.scss */
section[data-role="page"] .ui-title {
  margin: auto;
  padding: 0.6em;
  font-size: 12pt;
  color: white;
}

/* content area */
/* line 23, ../sass/_base.scss */
.ui-content {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 5pt;
}

/* line 30, ../sass/_base.scss */
#all-artists .ui-content {
  padding: 5pt 0 5pt 5pt;
}

/* line 34, ../sass/_base.scss */
.right {
  float: right;
  right: 0;
}

/* line 1, ../sass/_header.scss */
nav[data-role="header"] {
  z-index: 2;
  height: 30pt;
  background: #0d0d0d;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 11, ../sass/_header.scss */
nav[data-role="header"] a {
  text-decoration: none;
  color: #ff360e;
}

/* line 1, ../sass/_sidebar.scss */
#entry-nav {
  background: pink;
}

/* line 5, ../sass/_allartists.scss */
.all-thumbs li {
  background-color: yellowgreen;
  display: block;
  float: left;
  height: 67pt;
  margin: 5pt;
  position: relative;
  width: 67pt;
}

/* line 15, ../sass/_allartists.scss */
.artist-thumb {
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 21, ../sass/_allartists.scss */
.artist-name {
  background: rgba(255, 54, 14, 0.8);
  bottom: 0;
  text-align: center;
  left: 0;
  position: absolute;
  width: 90%;
  color: white;
  font-size: 7.5pt;
  padding: 0.5em 5%;
}

/* line 34, ../sass/_allartists.scss */
.childish_gambino {
  background-image: url('/images/artists/childish_gambino.jpg?1381448226');
}

/* line 34, ../sass/_allartists.scss */
.chvrches {
  background-image: url('/images/artists/chvrches.jpg?1381448220');
}

/* line 34, ../sass/_allartists.scss */
.daughter {
  background-image: url('/images/artists/daughter.jpg?1381448212');
}

/* line 34, ../sass/_allartists.scss */
.foy_vance {
  background-image: url('/images/artists/foy_vance.jpg?1381448205');
}

/* line 34, ../sass/_allartists.scss */
.jeremy_messersmith {
  background-image: url('/images/artists/jeremy_messersmith.jpg?1381448193');
}

/* line 34, ../sass/_allartists.scss */
.justin_nozuka {
  background-image: url('/images/artists/justin_nozuka.jpg?1381448184');
}

/* line 34, ../sass/_allartists.scss */
.tiny_green_cars {
  background-image: url('/images/artists/tiny_green_cars.jpg?1381448245');
}

/* line 34, ../sass/_allartists.scss */
.mumford_and_sons {
  background-image: url('/images/artists/mumford_and_sons.jpg?1381448157');
}

/* line 34, ../sass/_allartists.scss */
.phoenix {
  background-image: url('/images/artists/phoenix.jpg?1381448236');
}

/* line 34, ../sass/_allartists.scss */
.robert_delong {
  background-image: url('/images/artists/robert_delong.jpg?1381448150');
}

/* line 34, ../sass/_allartists.scss */
.two_door_cinema_club {
  background-image: url('/images/artists/two_door_cinema_club.jpg?1381448122');
}

/* line 34, ../sass/_allartists.scss */
.temper_trap {
  background-image: url('/images/artists/temper_trap.jpg?1381448142');
}

/* line 1, ../sass/_animations.scss */
.shaking {
  opacity: 0.9;
  -o-animation: Opacity 1.2s infinite;
  -moz-animation: Opacity 1.2s infinite;
  -webkit-animation: Opacity 1.2s infinite;
  animation: Opacity 1.2s infinite;
}

@-o-keyframes Opacity {
  /* line 16, ../sass/_animations.scss */
  0% {
    opacity: 0.8;
  }

  /* line 17, ../sass/_animations.scss */
  50% {
    opacity: 0.4;
  }

  /* line 18, ../sass/_animations.scss */
  100% {
    opacity: 0.8;
  }
}

@-moz-keyframes Opacity {
  /* line 16, ../sass/_animations.scss */
  0% {
    opacity: 0.8;
  }

  /* line 17, ../sass/_animations.scss */
  50% {
    opacity: 0.4;
  }

  /* line 18, ../sass/_animations.scss */
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes Opacity {
  /* line 16, ../sass/_animations.scss */
  0% {
    opacity: 0.8;
  }

  /* line 17, ../sass/_animations.scss */
  50% {
    opacity: 0.4;
  }

  /* line 18, ../sass/_animations.scss */
  100% {
    opacity: 0.8;
  }
}

@-keyframes Opacity {
  /* line 16, ../sass/_animations.scss */
  0% {
    opacity: 0.8;
  }

  /* line 17, ../sass/_animations.scss */
  50% {
    opacity: 0.4;
  }

  /* line 18, ../sass/_animations.scss */
  100% {
    opacity: 0.8;
  }
}

/* line 1, ../sass/_settings.scss */
#settings {
  background: #0d0d0d;
  color: white;
}

/* line 6, ../sass/_settings.scss */
.fade-block {
  background: #0d0d0d;
  width: 90%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  margin-top: 1em;
}

/* line 15, ../sass/_settings.scss */
.ui-checkbox {
  display: inline;
}

/* line 19, ../sass/_settings.scss */
form.settings {
  margin: 30pt 0;
}

/* line 24, ../sass/_settings.scss */
.b {
  display: block;
}

/* line 28, ../sass/_settings.scss */
.toggle {
  position: absolute;
  right: 20%;
  width: 45px;
  height: 25px;
  border-radius: 100px;
  background-color: #ddd;
  margin: -20px -40px;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

/* line 40, ../sass/_settings.scss */
.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

/* line 52, ../sass/_settings.scss */
.check:checked ~ .track {
  box-shadow: inset 0 0 0 20px #60f0c0;
}

/* line 56, ../sass/_settings.scss */
.check:checked ~ .switch {
  right: 2px;
  left: 22px;
  transition: .4s ease;
  transition-property: left, right;
  transition-delay: .05s, 0s;
}

/* line 64, ../sass/_settings.scss */
.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .4s ease;
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 79, ../sass/_settings.scss */
.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .4s ease;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}

/* line 92, ../sass/_settings.scss */
.checkbox {
  width: 10pt;
  height: 10pt;
  border-radius: 50%;
  background: #ff360e;
  display: inline-block;
}

/* line 1, ../sass/_audioentry.scss */
.submit-vote {
  display: none;
}

/* line 5, ../sass/_audioentry.scss */
.callout {
  font-size: 2em;
  text-align: center;
}

/* line 11, ../sass/_audioentry.scss */
.individual-entry {
  color: #f0f1bc;
}

/* line 16, ../sass/_audioentry.scss */
.ribbon-container {
  background: green;
  width: 70%;
  float: right;
  height: 80px;
  display: block;
}

/* line 24, ../sass/_audioentry.scss */
.choices {
  background: green;
  width: 30%;
  height: 80px;
  display: block;
}

/* line 31, ../sass/_audioentry.scss */
.ribbon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: white;
  margin: 30px 20px;
  cursor: pointer;
  height: 30px;
  text-align: center;
  width: 30px;
  z-index: 5;
}
/* line 40, ../sass/_audioentry.scss */
.ribbon:hover {
  opacity: 0.8;
}

/* line 45, ../sass/_audioentry.scss */
.first {
  margin-left: 20px;
}

/* line 49, ../sass/_audioentry.scss */
.second {
  margin-left: 70px;
}

/* line 53, ../sass/_audioentry.scss */
.third {
  margin-left: 120px;
}

/* line 57, ../sass/_audioentry.scss */
.magnet-area {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: pink;
  height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 60px;
}

/* line 67, ../sass/_audioentry.scss */
.choices {
  position: absolute;
}
