.submit-vote {
	display: none;
}

#single-artist {
	background: image-url('backgrounds/audio_background.jpg') 26% 0;
	background-size: 110%;
}

.callout {
	@extend %text-xlight;
	font-size: 2em;
	text-align: center;
}

.instruction,
.sample-name {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.individual-entry {
	color: $text-cream;
	min-height: 400px; //temp! take out
}


.ribbon-container {
	width: 100%;
	height: 80px;
	display: block; 
	margin-top: 295px;
	margin-left: 130px;
	//figure out this positioning !!TEMP
}

.droppable {
	position: absolute;
	width: 100px;
	height: 80px;
	display: block;
	bottom: 0;
}

.ribbon {
	margin: 30px 20px;
	cursor: pointer;
	height: $ribbon-size + 10px;
	width: $ribbon-size;
	z-index: 5;
	display: inline-block;
	bottom: 0;
	
	&:hover {
		opacity: 0.8;
	}
}


.shadow {
	position: absolute;
	opacity: 0.2;
	&:hover {
		opacity: 0.2; 
	}
}

.first {
	margin-left: 20px;
	background: image-url('icons/medal1.svg') 50% no-repeat;
	background-size: 100%;
	
	&.shadow {
		margin-left: 15px;
	}
}

.second {
	margin-left: 70px;
	background: image-url('icons/medal2.svg') 50% no-repeat;
	background-size: 100%;
	&.shadow {
		margin-left: 65px;
	}
}

.third {
	margin-left: 120px;
	background: image-url('icons/medal3.svg') 50% no-repeat;
	background-size: 100%;
}

.magnet-area {
	background: image-url('icons/medalbg.svg') 50% no-repeat;
	background-size: 88%;
	height: $ribbon-size*2;
	margin: auto;
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	width: $ribbon-size*2;
}

.droppable {
	top: 400px;
	left:0;
}

.choices {
	position: absolute;
}

.ribbon-shadows{
	position: absolute;
	display: block;
	width: 190px;
	height: 80px;
	right: -10px;
	top: 420px;
	
}

.playpause {
	width: 100px;
	height: 100px;
	@include border-radius(50%);
	background: image-url('icons/play.svg') 55% 50% no-repeat, white;
	background-size: 30%;
	margin: 90px auto 90px;
	opacity: 0.4;
	z-index: 4;
	&.playing {
		background: image-url('icons/pause.svg') 50% 50% no-repeat, white;
		background-size: 30%;
	}
}

.audio-controls {
	width: 250px;
	margin: 0 auto;
}

.audio-option {
	@include transition-duration(1s);
	width: 100%;
	min-height: 300px;
	display: block;
	margin: 0 auto -300px;
	float: left;
}

.audio-1 {
}

.audio-2 {
	margin-top: 0px;
	margin-left: 300px;
}

.audio-3 {
	margin-top: 0px;
	margin-left: 600px;
}

.switcharrow {
	position: absolute;
	display: block;
	margin-top: 120px;
	width: 25px;
	height: 35px;
	background: image-url('icons/dir_arrow.svg');
	background-size: 100%;
	cursor: pointer;
	&.larr {
		left: 5px;
	}
	&.rarr {
		right: 5px;
		@include rotate(180deg);
	}
}

.sample-options {
	display: block;
}
