html, body {
	height: 100%;
	overflow: hidden;
}

.container {
	position: absolute;
	width: 200%;
	height: 100%;
	margin-left: -100%;
}

section[data-role="page"] {
 	position: relative;
	width: 50%;
	height: 100%;
	float: left;
	background: green;
}

.left {
	right: 100%;
	&.pulled {
		right: 0;
	}
}
