html, body {
	height: 100%;
	overflow: hidden;
	@extend %text-light;
}

section[data-role="page"] {
 	position: relative;
	width: 50%;
	height: 100%;
	float: left;
	background: green;
}

/* content area */
.ui-content { 
	border-width: 0; 
	overflow: visible; 
	overflow-x: hidden; 
	padding: 5pt; 
}

#all-artists .ui-content{
		padding: 5pt 0 5pt 5pt; 
	}