html, body {
	height: 100%;
	overflow: hidden;
	@extend %text-light;
}

nav[data-role="header"] {
	z-index: 40;
}

section[data-role="page"] {
 	position: relative;
	width: 50%;
	height: 100%;
	float: left;
	
	.ui-title {
		margin: auto;
		padding: 0.6em;
		font-size: 12pt;
		color: white;
	}
}

/* content area */
.ui-content { 
	border-width: 0; 
	overflow: visible; 
	overflow-x: hidden; 
	padding: 5pt; 
}

#all-artists .ui-content{
		padding: 5pt 0 5pt 5pt; 
	}

.right {
	float: right;
	right: 0;
}

.ui-btn-text {
	font-size: 18px;
}

.ui-title,
section[data-role="page"] .ui-title {
	font-size: 18px;
}

.clearfix {
	clear: both;
}