nav[data-role="header"] {
	z-index: 2;
	height: 30pt;
	background: $black;
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	
	a {
		text-decoration: none;
		color: $accent-red;
	}
}
