$accent-red: #ff360e;
$radialBarColor: $accent-red;
$timerColor: white;
$fontColor: #888;
$fontFamily: "Georgia";
$backgroundTimerColor: #655c63;
$sizeTimer: 240px;
$borderWidth: 15px;
$fontSize: 0px;

.radialtimer {
        width: $sizeTimer;
        height: $sizeTimer;
        margin: -260px 0 0 5px;

        .n {
                position: absolute;
                width: $sizeTimer;
                height: $sizeTimer;
                border-radius: 50%;
                text-align: center;
                font-size: $fontSize;
        }

        .slice {
                position: absolute;
                width: $sizeTimer;
                height: $sizeTimer;
                clip: rect(0px, $sizeTimer, $sizeTimer, ($sizeTimer / 2));

                &.nc {
                        clip: rect(auto, auto, auto, auto);
                }

                .q {
                        position: absolute;
                        width: ($sizeTimer - $borderWidth * 2);
                        height: ($sizeTimer - $borderWidth * 2);
                        border: ($borderWidth + 1) $backgroundTimerColor solid;
                        border-radius: 50%;
                        clip: rect(0px, ($sizeTimer / 2), ($sizeTimer / 2), 0px);
                        z-index: 2;
                }

                .pie {
                        border: $borderWidth $radialBarColor solid;
                        position: absolute;
                        width: ($sizeTimer - $borderWidth * 2);
                        height: ($sizeTimer - $borderWidth * 2);
                        clip: rect(0px, ($sizeTimer / 2), $sizeTimer, 0px);
                        border-radius: 50%;
                        transition: all 1s linear;
                        z-index: 1;
                }
        }
}


.behind-timer {
	border: ($borderWidth + 1) $backgroundTimerColor solid;
	 width: $sizeTimer/1.15;
	 border-radius: 50%;
        height: $sizeTimer/1.15;
        margin: -240px 0 0 5px;
	
}
