#entry-nav {
	background: $black;
	
	a {
		color: white;
	}
	
	h3 a{
		
		color: $accent-red;
		margin-top: -3px;
		
		&:after {
			content: "";
			background: image-url('icons/dir_arrow.svg') no-repeat;
			width: 40px;
			height: 40px;
			background-size: 60%;
			display: block;
			@include rotate(90deg);
			position: absolute;
			right: 10px;
			top: 5px;
		}
	}

	.ui-collapsible-collapsed {
		h3 a:after {
			@include rotate(-90deg);
			top: -10px;
		}
		
	}

	.ui-panel-inner {
	width: 100%;
	padding: 0;
	}

	.ui-collapsible-content {
		padding: 0;
	}
}

.morebtn {
	background: image-url('icons/menu.svg');
	background-repeat: no-repeat;
	background-size: 80%;
	width:50px;
	height: 50px;
	display: block;
}

.ui-header .ui-btn-right {
	top: 5px;
}

a {
	text-decoration: none;
}

.active-entries,
.past-winners {
	width: 100%;
	
	li {
		padding: 1em;
		margin-bottom: 2px;
	}
	
	li:nth-child(even) {
		background: $accent-purple
	}
	li:nth-child(odd) {
		background: $accent-purple-light
	}


}