%text-light {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

%text-xlight {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

// GET THIS ONE
%text-semib {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}