@import "compass/reset";

@mixin keyframes($name) {
  @-o-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @-webkit-keyframes $name { @content }; 
  @-keyframes $name { @content };
}

@mixin animation-name($name...) {
  -o-animation-name: $name;
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
  animation-name: $name;
}
@mixin animation-duration($duration...) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}
@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}
@mixin animation-direction($animation-direction...) {
  -o-animation-direction: $animation-direction;
  -moz-animation-direction: $animation-direction;
  -webkit-animation-direction: $animation-direction;
  animation-direction: $animation-direction;
}
@mixin timing-function($timing-function...) {
  -o-timing-function: $timing-function;
  -moz-timing-function: $timing-function;
  -webkit-timing-function: $timing-function;
  timing-function: $timing-function;
}

section {
 position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
    background: green;
	border: 1px solid red;
}

section.left {
	left: 100%;
	&.pulled {
		left: 0;
	}
}

section.right {
	@include animation-duration(1s);
	background: pink;
	right: 100%;
	&.pulled {
		right:0;
	}
}