@import "compass/reset";
@import "compass/css3";

// VARS
$ribbon-size: 30px;

section {
	display: block; 
	height: 200px;
	width: 100%;
}

.ribbon-container {
	background: green;
}

.choices {
	background: orange;
}

.ribbon {
	@include border-radius(50%);
	background: white;
	cursor: pointer;
	height: $ribbon-size;
	text-align: center;
	width: $ribbon-size;
	z-index: 5;
	&:hover {
		opacity: 0.8;
	}
}

.first {

}

.second {
	margin-left: 50px;
}

.third {
	margin-left: 100px;
}

.magnet-area {
	@include border-radius(50%);
	background: teal;
	height: $ribbon-size*2;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: $ribbon-size*2;
}

.choices {
	position: absolute;
}